 html {
 	background-color: rgba(206, 141, 88, 0.938);
 }

 body {
 	width: 70%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
 }

 #burger_img {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
	font-family: 'Inconsolata';
	font-weight: bolder;
 	font-size: 65px;
	margin: 50px;
	text-shadow: 4px 4px 4px #aaa;

 }

 .burgerAvailable {
 	font-family: 'Tangerine';
	font-weight: bolder;
	/* text-shadow: 4px 4px 4px #aaa; 	 */
	font-size: 20px;
 	text-align: center;

 	border-radius: 15px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #89aedf;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: aqua;
 }

 .burgerEaten {
 	font-family: 'Tangerine';
	font-size: 20px;
	font-weight: bolder;
	/* text-shadow: 4px 4px 4px #aaa; */
 	text-align: center;

 	border-radius: 15px;
 	margin: 10px;
 	padding: 10px;
 	background-color: #f1b8ad;
 }

 h2 {
  	text-align: center;
 	font-family: 'Inconsolata';
 	font-size: 40px;
	margin: 50px;
	text-shadow: 4px 4px 4px #aaa;
 }

 .formContainer {
 	background-color: rgb(245, 207, 138);
 }

 .addBurgerButton {
 	font-family: 'Tangerine', cursive;
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 4px 4px 4px #aaa;
 	text-align: center;

 	border-radius: 15px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: #FFC04C;
 	border: none;
 }

.addBurgerButton:active {
	background-color: #FFC04C;
}

.burgerFooter {
	background-color: #FFC04C;
	padding: 20px 0;
}
